*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "open Sans ", sans-serif;
}

#nav , .navig{
  display: none;
}

.title{
  background: linear-gradient(rgb(255, 255, 255),rgba(250, 248, 248, 0.5)) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title h2{
  color: #fff;
  font-size: 30px;
  font-family: 'Lucida Sans Regular';
  font-style: oblique;
  font-weight: lighter;
}
.title a{
  background: crimson;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 18px;
}

.title a:hover{
  background:#d89f9f;
  
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  transition:  0.5s ease;
  background-color: #202020;
  z-index: 1000;
  

}

.logo img{
  float:left;
  width:150px;
  height:auto;
  opacity: 1;
}

.nav-barre li {
  display: inline-block;
  

}
.nav-barre li a {
  
  color:#fff;
  text-decoration: none;
  /* font-size: 1rem; */
  padding: 0 10px;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:medium;
  
  
}
.nav-barre li a:hover{
  color: #d89f9f;

}

.active{
  background: #2d2a30;
}

.active a:hover{
  color: #fff ;

}

@media only screen and (max-width: 600px){
  header{
      display: block;
  }
  .logo{
      margin-left: 15px;
  }

  .navig{
      display: block;
      position: absolute;
      cursor: pointer;
      margin: 0 1rem;
      top: 20px;
      right: 0;

  }

  .navig img{
      width: 25px;
  }

  .close,
      input[type='checkbox']{
          display: none;
      }

  

  .nav-barre li {
      display: none;
      margin: 12px 0;
      align-items: center;
      
      
  }

  #nav:checked ~ ul.nav-barre li{
      display: block;

  }

  #nav:checked ~ label.navig .open {
      display: none;
  }
  #nav:checked ~ label.navig .close {
      display: block;
  }

  .title h3{
      font-size: 40px;
  }


}











:root{
    --white: #FFFFFF;
    --red: red;
    --green2: rgb(233, 176, 179);
    --green3: crimson;
}
* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;

  text-decoration: none;
  transition: all 0.5s cubic-bezier(.37, 1.14, .26, 1.24);
  scroll-behavior: smooth;
} 

*::selection {
  background: var(--green);
  color: #FFFFFF;
}

/* html {
  font-size: 62.5%;
  overflow-x: hidden;
}  */
/*form*/

.donate-class {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: white;
}

.donate-class form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}


.donate-class form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.donate-class form .row .col {
  flex: 1 1 250px;
}

.donate-class form .row .col .title {
  font-size: 20px;
  color: var(--green3);
  padding-bottom: 5px;
  text-transform: uppercase;
}

.donate-class form .row .col .inputBox {
  margin: 15px 0;
}

.donate-class form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.donate-class form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.donate-class form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.donate-class form .row .col .flex {
  display: flex;
  gap: 15px;
}

.donate-class form .row .col .flex .inputBox {
  margin-top: 5px;
}

.donate-class form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.donate-class form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: var(--green3);
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.donate-class form .submit-btn:hover {
  background: var(--green2);
}



/*footer*/
footer{
  margin:0;
  padding:0;
  color:#fffcfc;
  box-sizing: border-box;
  font-family:'poppins',sans-serif;
}
footer{
 
  bottom:0px;
  width:100%;
  background:#202020;
  
 

}
.main-content{
  display:flex;
}
.main-content .box{
  flex-basis:50%;
  padding: 10px 20px ;

}
.box h2{
  font-size: 1.125rem;
  font-weight:600;
  text-transform:uppercase;
}
.box .content-footer{
  margin: 20px 0 0 ;
  position: relative;

}
.box .content-footer::before{
  position:absolute;
  content:'';
  top: -10px;
  height:2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content-footer::after{
  position:absolute ;
  content:'';
  height:2px;
  width: 15%;
  /* background: #f12020; */
  background: var(--green3);
  top:-10px;

}
.left .content-footer p{
  text-align: justify;
}
.left .content-footer .social{
  margin:20px 0 0;

}
.left .content-footer .social a{
  padding: 0 2px;
}
.left .content-footer .social a span{
  height:40px;
  width:40px;
  
  color: white;
  line-height: 40px;
  text-align:center;
  font-size:18px;
  border-radius: 5px;
  transition:0.3s;


}
.left  .content-footer .social a span:hover{
  /* background: #c83131; */
  background: var(--green3);
}
.center .content-footer .fas{
  font-size: 1.4375rem;
  background: #4c4b4b;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius:50%; 
  transition: 0.3s;
  cursor: pointer;

}
.center .content-footer .fas:hover{
  /* background:#f12020; */
  background: var(--green3);
}
.center .content-footer .text{
  font-size:1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content-footer .phone{
  margin: 10px 0;
}
.right form .text{
  font-size:1.0625rem;
  margin-bottom:2px;
  color:#656565;

}
.right form .msg{
  margin-top:10px;

}
.right form input, .right form textarea{
  width:100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border:1px solid #222
}
.right form input:focus,
 .right form textarea:focus{
  outline-color:#c15466;
 }

.right form input{
  height: 35px;
}
.right form .btn{
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
}
.right form .btn button{
  height:40px;
  width:100%;
  border:none;
  outline:none;
  border-radius: 0;
  /* background: #f12020; */
  background: var(--green3);
  font-size:1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #cb8a8a;

}
.bottom center{
  padding:5px;
  font: size 0.9375em;
  background: #d89f9f;
}
.bottom center span{
  color: #656565;
}
.bottom center a {
  /* color: #f12012; */
  color: var(--green3);
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
/*mobile*/
@media screen and (max-width:900px) {
  footer{
    position:relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;

  }
  .main-content .box{
    margin: 5px  0;
  }
}


#msg{
  font-size: 20px;
  color: green;
  animation: buttons .3s linear;
}

#erreur{
  font-size: 20px;
  color: red;
  animation: buttons .3s linear;
  
}